@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/box.css");
@import url("components/navbar.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1,h2,h3,a,p{
	font-family: 'Roboto', sans-serif ;
}


a {
	text-decoration: none;
	font-weight: bold;
	color: #59ACB2;
}


@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
