.btn-green {
	background-color: #59ACB2;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

#login-navbar {
	margin-top: 37px;
}

#search-navbar {
	margin-top: 15px;
	margin-bottom: 10px;
}

.btn-blue {
    background-color: #3B5998;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn-white{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border-style: solid;
    border-color: black;
}

.btn-white-without-border{
    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    color: black;
    font-weight:  normal;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.btn-grey {
	background-color: #F8F8F8;
	padding: 10px 15px;
	border-radius: 20px;
	color: black;
	font-weight:  normal;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-green-help {
	background-color: #59ACB2;
	padding: 25px 15px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.btn-grey-help {
	background-color: #59ACB2;
	padding: 10px 15px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

.search-container{
    margin: 0;
    padding: 0;
    background-color: #b2e0df;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3), -4px -4px 6px 0 rgba(116, 125, 136, .2), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 5400;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}


.search-container:hover{
  animation: hoverShake 0.15s linear 3;
}

.question {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	padding-left: 100px;
	padding-right: 100px;
}

#aboutustitle {
     color: rgb(89,172,178);
}


