.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.288) ;
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 23px 23px 23px 23px;
}

.title {
  color: grey;
  font-size: 18px;
}

.card img {
  width: 150px;
  border-radius: 23px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
}

#profwidgetleft {
float: left;
height: 500px;
margin-left: 350px;
}

#profwidgetright {
float: right;
width: 500px;
margin-right:350px;;
}

.reviewcomment{
    padding: 10px 30px;

}

.basic_info{
    font-weight: normal;
    line-height: 25px;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-family: 'Nunito Sans',arial;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    width: 640px;
    float: right;
    padding: 20px 20px 0;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: #000;
    border-bottom: 0;}

    .aboutus_info{
    font-weight: normal;
    line-height: 25px;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-family: 'Nunito Sans',arial;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    width: 640px;
    padding: 20px 20px 0;
    background-color: #fff;
    color: #000;
    border-bottom: 0;
    margin: 40px auto;
}

.ourteam{
    font-weight: normal;
    line-height: 25px;
    -webkit-text-size-adjust: none;
    font-size: 16px;
    font-family: 'Nunito Sans',arial;
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    width: 640px;
    padding: 20px 20px 0;
    background-color: #fff;
    color: #000;
    border-bottom: 0;
    margin: 40px auto;
    text-align: right;
}
