ul {
    list-style-type: none;
    background-color: white;
    position: fixed;
    width: 100%;
    position: relative;
    text-align: center;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 0PX 0px 0px;
    float: right;
    margin-top: 1px;
    padding-bottom: 0px;
}

li {
    display: inline;
    margin: 10px;
}

a {
    display: block;
    padding: 8px;
    background-color: white;
}
