ul {
    list-style-type: none;
    background-color: white;
    position: fixed;
    width: 100%;
    position: relative;
    text-align: center;
    flex:1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    float: right;
}

li {
    display: inline;
}

a {
    display: block;
    background-color: white;
}
